
<section class="section two-adult">
  <div class="container container__lines">
    <div class="two-adult-room__wrapper">
      <h1 class="two-adult-room__title">ДВОМІСНИЙ НОМЕР</h1>
      <p class="two-adult-room__subtitle">Amet minim mollit non</p>
      <p class="two-adult-room__name">MIMIHO</p>
      <p class="two-adult-room__text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do
        amet sint. Velit officia consequat duis enim velit mollit.
        Exercitation veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="two-adult-room__wrapper-img">
      <picture>
        <source
          srcset="
            ./images/two-adult/two-adult-room-with-bed-mobile.webp    1x,
            ./images/two-adult/two-adult-room-with-bed-mobile@2x.webp 2x
          "
          media="(max-width: 414px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/two-adult/two-adult-room-with-bed-tab.webp    1x,
            ./images/two-adult/two-adult-room-with-bed-tab@2x.webp 2x
          "
          media="(min-width: 1024px)"
          type="image/webp"
        />
        <source
          srcset="
            ./images/two-adult/two-adult-room-with-bed-desktop.webp    1x,
            ./images/two-adult/two-adult-room-with-bed-desktop@2x.webp 2x
          "
          media="(min-width: 1280px)"
          type="image/webp"
        />
        <img
          class="two-adult-room__bedroom-img"
          src="./images/two-adult/two-adult-room-with-bed.jpg"
          alt="кімната
        з ліжком"
        />
      </picture>
    </div>
    <ul class="two-adult-room__swipper-wrapper">
      <li class="two-adult-room__swipper-slide">
      <picture>
        <source
          srcset="
            ./images/two-adult/bathroom-elements–desktop-swiper1.jpg 1x"
          media="(min-width: 1280px)"
          />
                        <source
          srcset="
            ./images/two-adult/bathroom-elements–tab-swiper1.jpg 1x"
          media="(min-width: 1024px)"
          />
                        <source
          srcset="
            ./images/two-adult/bathroom-elements-swiper1.jpg 1x"
          media="(max-width: 1023px)"
          />
        <img
          class="two-adult-room__bathroom-elements-img"
          src="./images/two-adult/bathroom-elements-swiper1.jpg"
          alt="банне приладдя біля раковини"
        />
      </picture>
      </li> 
      <li class="two-adult-room__swipper-slide">
                    <picture>
                                    <source
          srcset="
            ./images/two-adult/cup-and-tea-desktop-swiper2.jpg 1x"
          media="(min-width: 1280px)"
          />
                        <source
          srcset="
            ./images/two-adult/cup-and-tea-tab-swiper2.jpg 1x"
          media="(min-width: 1024px)"
          />
                        <source
          srcset="
            ./images/two-adult/cup-and-tea-swiper2.jpg 1x"
          media="(max-width: 1023px)"
          />

        <img
          class="two-adult-room__cup-img"
          src="./images/two-adult/cup-and-tea-swiper2.jpg"
          alt="чашка з чаєм стоїть на підвіконні"
        />
      </picture>
      </li>
    </ul>
    <div>
      <!-- <button class="">
        <svg class="two-adult-room__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
      <button>
        <svg class="two-adult-room__icon" width="" height="">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <ul class="buttons-list">
      <li>
        <button class="button" type="">
          Детальніше
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </button>
      </li>
      <li>
        <button class="button" type="submit" data-modal-open="">
          Переглянути ціни
          <svg class="" width="" height="">
            <use href=""></use>
          </svg>
        </button> -->
      </li>
    </ul>
  </div>
</section>
