@import 'section';
@import 'container';
@import '../components/logo';
@import '../components/modal';

@import '../layout/footer';
@import '../layout/header';
@import '../layout/hero-homepage';
@import '../layout/hero-restaurant';
@import '../layout/hero-hotel';
@import '../layout/hero-number';
@import '../layout/number-amenities';
@import '../layout/contacts';
@import '../layout/menu';
// @import 'is-hidden';

@import './two-adult';
@import './two-adult-room';
